#main {
	text-align: center;
	font-size: 150%;
}

#timer {
	font-size: 250%;
	font-style: bold;
}

#answers {
	display: inline-block;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover {
	border-style: solid;
	border-width: 3px;
	border-color: black;
}